/*滚动条宽高*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
}

/*滚动条宽高*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: auto;
}

/*滚动条 样式*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(144, 147, 153, 0.3);
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(144, 147, 153, 0.5);
  background-color: rgba(144, 147, 153, 0.5);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
:focus {
  outline: none;
}

html,
body,
title,
meta,
div,
ul,
ol,
header,
footer,
section,
aside,
article,
a,
span,
em,
i,
input,
button,
blockquote,
address,
audio,
video,
nav,
canvas,
select,
small,
source,
dd,
dl,
dt,
table,
tbody,
hgroup,
embed,
frame,
img,
link,
label,
option,
td,
th,
tr,
tt,
style {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
code,
kbd,
pre,
samp {
  font-family: Consolas, Menlo, Courier, monospace !important;
  font-size: 1em;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
input,
button {
}
.lt {
  float: left;
}
.margin {
  margin: 0 auto;
}
.rt {
  float: right;
}
.clear:after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: '.';
}
.clear {
  zoom: 1;
}
.align-center {
  text-align: center;
}

/*轴定义： 取决于flex-direction: column(主轴垂直方向，交叉轴水平方向) row(主轴水平方向，交叉轴垂直方向)*/
/*默认水平方向 排序*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*垂直方向 排序*/
.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
/*交叉轴对齐方向 */
.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*左对齐*/
.flex-align-top {
  -webkit-box-align: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: center;
  align-items: flex-start;
}
/*右对齐*/
.flex-align-bottom {
  -webkit-box-align: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: center;
  align-items: flex-end;
}
/*居中对齐*/
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-end {
  -webkit-box-pack: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: center;
  justify-content: flex-end;
}
/*分散对齐*/
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*距离盒子两边间距相同*/
.flex-pack-around {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
}

/* 点线 */

.link {
  font-size: 16px;
  color: #444;
  padding: 5px 0;
  text-decoration: underline;
}
.link:hover {
  text-decoration: none;
  color: #13afff;
  background: radial-gradient(
        circle at 10px -7px,
        transparent 8px,
        currentColor 8px,
        currentColor 9px,
        transparent 9px
      )
      repeat-x,
    radial-gradient(
        circle at 10px 27px,
        transparent 8px,
        currentColor 8px,
        currentColor 9px,
        transparent 9px
      )
      repeat-x;
  background-size: 20px 20px;
  background-position: -10px calc(100% + 16px), 0 calc(100% - 4px);
  animation: waveFlow 0.5s infinite linear;
}
@keyframes waveFlow {
  from {
    background-position-x: -10px, 0;
  }
  to {
    background-position-x: -30px, -20px;
  }
}

.ells_1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
